<!--Div página inteira-->


<div class="container-fluid justify-content-center d-flex cor-bg">
    <!--Inicio div Banner-->
    <div class="container justify-content-center d-flex cor-bg">

        <img class="img-fluid banner" src="../../assets/imagens/banner.jpeg" alt="">

    </div>
    <!--Final div Banner-->
</div>
<!--Final Div página inteira-->

<!--Slogan-->
<div class="justify-content-center d-flex cor-bg">
    <p class="h1 justify-content-center text-center d-flex cor-bg">
        AME O SEU CORPO,
        <br> CONHEÇA O
        <br> VIT MENSTRUAL
    </p>
</div>
<!--Fim Slogan-->
<!--Explicação VIT-->
<div class="container-fluid justify-content-center d-flex cor-bg espacamento">
    <div class="row align-items-center">
        <div class="col-md-6">
            <p class="h6 texto-Prod ">Para a criação de nossos produtos fomos até as mulheres e perguntamos a elas qual era o problema que mais incomodava elas em sua menstruação. E grande parte respondeu que o ciclo desregulado é um de seus incômodos.
            </p>

            <p class="h6 texto-Prod">Então começamos a pensar em algo natural que possa ajudar essas mulheres. Depois de muitas pesquisas descobrimos as propriedades da cenoura que ajuda o fluxo sanguíneo na região da pélvis. E assim criamos o Vitmenstrual, que é uma bala feita
                de cenoura que ajuda a regular o ciclo menstrual.</p>
        </div>
        <div class=" col-md-6 cor-bg">
            <img class="img-vit img-fluid espacamento" src="../../assets/imagens/imgProd.jpeg " alt=" ">
        </div>
    </div>
</div>
<!--Fim Explicação VIT-->

<!--Inicio Video-->
<div class="container-fluid bg-dark">
    <div class="container-fluid d-flex justify-content-center">
        <iframe style="border-radius: 50px;" class="video" src="https://www.youtube.com/embed/NUbyfbSCl64" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<!--Fim Video-->

<div class="container-fluid d-flex justify-content-center cor-bg">
    <div class="container-fluid justify-content-center cor-bg espacamento">
        <p class="texto-video">Criamos a bala Vitmenstrual, que tem como público alvo todas as jovens e mulheres que sofrem com o problema do ciclo menstrual desregulado. Nosso produto é 100% natural e tem como principal ingrediente a cenoura, que é conhecida por sua eficácia
            em regular o ciclo menstrual. Além de agir como reguladora do ciclo menstrual, a capsúla/bala Vitmenstrual combate a cólica e dores de cabeça durante o período de folicular.</p>
    </div>
</div>

<!--Inicio Imagens VIT Adulto e Criança-->
<div class="container-fluid justify-content-center d-flex cor-bg">
    <div class="row align-items-center">
        <div class="col">
            <p class="texto-img d-flex">Versão Infantil</p>
            <img class="imgProd " src="../../assets/imagens/vit-crianca.jpeg " alt=" ">
        </div>

        <div class=" col">
            <p class="texto-img d-flex">Versão Adulto</p>
            <img class="imgProd " src="../../assets/imagens/vit-adulto.jpeg " alt=" ">
        </div>
    </div>
</div>
<!--Fim Imagens VIT Adulto e Criança-->