
<div class="container">

    <div class="row ">
        <div class="col-md-12 mt-5">
            <h5 class="text-center">POLÍTICA DE PAGAMENTO</h5>

        </div>
    </div>

    <div class="col-md-12 bg-light mt-5 mb-5 ">
        <div class="row">
            <div class="container mt-3 mb-3">
                <p>
                    As compras efetuadas na VIT (“Loja Virtual”) podem ser pagas por meio de cartão de crédito ou de
                    boleto
                    bancário. Os pagamentos não poderão ser divididos em mais de 1 (um) cartão de crédito ou entre
                    cartão de
                    crédito e boleto bancário. Quando a compra for efetivada através de cartão de crédito, a compra
                    poderá
                    ser parceladas em até 12 x, sendo que a parcela mínima é R$ 20,00 (“Parcela Mínima”).

                    Para mais informações sobre produtos, valores mínimos e regras de parcelamento, consulte as
                    condições
                    disponíveis na página do produto em nosso site. - Os preços e condições de pagamento anunciados em
                    nosso
                    site são exclusivos para as vendas realizadas por ele. - Você pode optar por realizar o pagamento de
                    seu
                    pedido em várias parcelas. No entanto, é necessário que o valor total da compra esteja dentro do
                    limite
                    de crédito disponível em seu cartão. Caso o limite seja ultrapassado, o pedido poderá não ser
                    aprovado
                    pela administradora do seu cartão e você será comunicado por nossa equipe via e-mail. Nesse caso,
                    seu
                    pedido de compra será cancelado. Além disso, o limite de parcelamento deverá obedecer ao valor da
                    Parcela Mínima.

                    Vale lembrar que o prazo de entrega da sua compra começará a contar somente após a administradora do
                    seu
                    cartão de crédito aprovar o pagamento e o seu pedido for confirmado pela nossa equipe. Você deverá
                    receber um e-mail informando quando seu pedido houver sido confirmado.

                    Equipe VIT
                </p>

            </div>
        </div>
    </div>

</div>
