<app-menu></app-menu>>

<div class="row">
<div class="col-md-12">
<div class="card d-flex align-items-center" style="width: 50rem; height: 20rem;">
    <div class="card-body background">
      <h5 class="card-title mb-4 fonte">OPS, PARECE QUE SEU CARRINHO DE COMPRAS ESTÁ VAZIO :(</h5>
      <h5 class="fonte">PARA ADICIONAR ITENS, CLIQUE NO AO LADO DO PRODUTO QUE DESEJA</h5>
      <a href="#" class="card-link">CONTINUAR COMPRANDO</a>
    </div>
  </div>
</div>
</div>

  <app-footer></app-footer>
  