    .tamanhoinput {
        width: 15rem !important;
    }
    
    .form-control-placeholder {
        position: absolute;
        top: 0;
        padding: 7px 0 0 13px;
        transition: all 200ms;
        opacity: 0.5;
        color: grey;
    }
    
    .bgCadastro{
        color: white;
    }
    
