<app-menu></app-menu>
<div class="container pt-5 pb-5">
    <img class="img-fluid" src="https://i.imgur.com/7CeKNwP.png" width="1200rem">
</div>

<div class="container px-5 bg-green pt-5">
    <div class="row align-items-start justify-content-center">
        <div class="col-md-3 mr-5" *ngFor='let produto of listaCamisetas'>
            <div class="row border d-flex mb-3 justify-content-center bg-light">
                <img class="img-fluid zoom" src="{{produto.imgProduto}}">
            </div>
            <p class="h5 text-center">{{produto.descricaoProduto}}</p>
            <p class="h3 text-center">{{produto.precoProduto}}</p>
            <div class="row justify-content-center">
                <a routerLink="/index" class="btn btn-dark font-weight-bold pr-5 pl-5 mb-5 mt-2">COMPRAR</a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>