
<div class="container">

    <div class="row ">
        <div class="col-md-12 mt-5">
            <h5 class="text-center">POLÍTICA DE PRIVACIDADE</h5>

        </div>
    </div>

    <div class="col-md-12 bg-light mb-5 ">
        <div class="row">
        <div class="container mt-3 mb-3">
           
                <p>
                    Dados pessoais de endereçamento, pagamento e conteúdo de pedido não serão divulgados em hipótese
                    alguma.
                    Garantimos que seus dados não serão utilizados para outros fins que não o de processamento de
                    pedidos
                    realizados. Sobre a segurança do tráfego de dados, toda transação que envolver pagamento, seja por
                    cartão de
                    crédito ou não, estará encriptada com a tecnologia SSL (Secure Socket Layer). Isso significa que só
                    a loja
                    tem acesso aos seus dados. Quando você preenche os dados e nos envia, eles são criptografados, o que
                    faz com
                    que durante o trajeto pela Internet fiquem irreconhecíveis, assegurando a confidencialidade da
                    informação.
                    Todas as páginas da loja são habilitadas em P3P, o que permite um maior controle sobre suas
                    informações
                    pessoais. Eventualmente podemos receber suas informações de outras fontes, como cadastros de
                    parceiros para
                    somá-las à nossa base de dados, que em hipótese alguma será vendida ou fornecida a terceiros. Além
                    disso,
                    armazenamos algumas informações que recebemos automaticamente toda vez que o cliente interage com
                    nosso site
                    e publicidade da VIT. Internet Protocol (IP), tipo de navegador e páginas visualizadas em nosso site
                    são
                    alguns exemplos desta coleta, que é efetuada por meio de Cookies. Cookies são identificações da
                    interação
                    com a VIT ou das nossas publicidades, que são transferidas para o aparelho do consumidor visando
                    reconhecer
                    você em sua próxima navegação. Utilizamos Cookies para proporcionar uma melhor experiência em nossa
                    loja e
                    viabilizar recursos personalizados como recomendações de produtos, publicidades e informações
                    adicionais de
                    itens do seu interesse, por exemplo. Você pode desabilitar o arquivamento dos Cookies em seu
                    browser,
                    deletá-los e gerenciar sua utilização por meio da configuração do navegador que utiliza para acessar
                    a VIT.
                    Para remoção dos Cookies ou Cache do seu computador siga os procedimentos indicados pelos
                    desenvolvedores*
                    para cada navegador**:
                </p>
                <p>
                    Google Chrome Internet Explorer Firefox Safari Opera * Atenção: As informações acima são fornecidas
                    pelos
                    sites oficiais dos próprios desenvolvedores. A VIT não se responsabiliza por danos ou perdas de
                    informações
                    geradas pelo uso desses procedimentos. ** Essa operação pode ser necessária todas as vezes que o
                    equipamento
                    for substituído, reinstalado ou tiver suas configurações alteradas para o padrão original. O
                    conteúdo da
                    VIT poderá ser atualizado ou modificado periodicamente, desta forma o conteúdo não deve ser
                    interpretado
                    como definitivo. O horário da VIT segue o horário de Brasília. A VIT procura corrigir, o mais rápido
                    possível, eventuais imprecisões ou omissões do conteúdo, mas não assumirá a responsabilidade pela
                    sua
                    utilização indevida, aplicação ou processamento que os usuários possam dar à mencionada informação,
                    em
                    desconformidade com a natureza, propósito e função das informações disponibilizadas. A VIT poderá
                    fornecer
                    acesso para outros sites externos, cujos conteúdos e políticas de privacidade e segurança das
                    informações
                    não são de responsabilidade da VIT. Assim, é recomendado aos usuários que, ao serem redirecionados
                    para
                    sites externos, consultem sempre as respectivas políticas de privacidade antes de fornecer seus
                    dados ou
                    informações. O usuário terá a opção de efetuar o cadastro que está condicionado ao fornecimento de
                    seus
                    dados pessoais. Ao fornecer seus dados, o usuário automaticamente declara conhecer e aceitar os
                    termos desta
                    Política. O usuário é o único responsável por manter a confidencialidade da senha pessoal de acesso
                    à VIT
                    escolhida no momento do registro. A VIT não se responsabiliza por qualquer dano que resulte da
                    divulgação
                    da senha pessoal pelo usuário a terceiros, ou da utilização da senha por terceiros para ter acesso
                    ao
                    cadastro do usuário. O usuário que efetuar o cadastro poderá, a qualquer momento, solicitar que lhe
                    seja
                    informado o conteúdo de seu cadastro, podendo, inclusive, realizar as retificações que julgue
                    convenientes,
                    bastando, para tanto, fazê-las através de seu próprio cadastro no site. O acesso às informações
                    recebidas é
                    restrito apenas aos integrantes da VIT suas subsidiárias, filiais ou coligadas, autorizados para o
                    uso
                    adequado dessas informações. Se o usuário desejar que sua conta seja excluída, ele terá à sua
                    disposição, na
                    VIT, tal opção de exclusão de conta a qualquer momento, o que será feito imediatamente. Feita a
                    exclusão, o
                    cadastro do usuário será desativado da base de dados da VIT. Exceto se informado de outra forma, a
                    VIT e
                    as empresas envolvidas não terão direito de usar as informações enviadas sobre quaisquer usuários
                    além do
                    que for necessário para atender as necessidades da VIT; ou houver solicitação das autoridades
                    competentes.
                    Será de total responsabilidade do usuário a garantia da veracidade e exatidão dos dados pessoais
                    fornecidos
                    nesta loja virtual. A VIT não assumirá qualquer responsabilidade no caso da inexatidão dos dados
                    pessoais
                    introduzidos pelo usuário na VIT, omissão de informação relevante, ou inserção de dados falsos que
                    possam
                    induzir em erro sobre o usuário. Se qualquer informação fornecida pelo usuário for falsa, incorreta,
                    desatualizada ou incompleta, ou caso a VIT tenha razões suficientes para suspeitar que tais
                    informações
                    sejam falsas, incorretas, desatualizadas ou incompletas, a VIT terá o direito de suspender ou
                    cancelar
                    imediatamente, independente de notificação, a conta do usuário e recusar toda e qualquer utilização,
                    presente ou futura dos serviços que requerem cadastro específico. Todos os dados que os usuários
                    fornecerem a
                    VIT através de protocolos de segurança estarão protegidos, a fim de assegurar sua privacidade e
                    autenticidade, à medida que trafegam pela Internet. Todavia, a Equipe VIT não assegura a plena
                    segurança das
                    informações e/ou dados enviados pelos visitantes caso ocorram eventos que ocasionem casos fortuitos
                    ou
                    motivos de força maior, razão pela qual os usuários expressamente renunciam a qualquer reivindicação
                    contra
                    a VIT em decorrência de perda de dados eventualmente sofridos em virtude de acessos não autorizados
                    e/ou
                    quebra de segurança dos sistemas que mantém a VIT.
                </p>

                <h6>ENVIO DE COMUNICADOS E MENSAGENS PUBLICITÁRIAS</h6>
                <p>
                    Nós poderemos enviar comunicados e mensagens publicitárias aos consumidores cadastrados na VIT,
                    fazendo uso de todos os tipos de tecnologias e meios de comunicação disponíveis, seja por e-mail,
                    SMS, MMS, mala-direta (e) outros. Você concordará, automaticamente, com esta disposição ao se
                    cadastrar na VIT. Os comunicados, newsletters, avisos de ofertas e mensagens publicitárias enviadas
                    por e-mail trarão, obrigatoriamente, a opção de cancelamento do recebimento deste tipo de mensagem.
                    O opt-out é feito através do e-mail informado no site. Portanto, consumidores que possuem mais de um
                    cadastro, poderão continuar a receber os comunicados ou as mensagens publicitárias no e-mail que não
                    foi desativado. Lembramos que o endereço de e-mail informado no momento do cadastro será utilizado
                    para envio de comunicados durante todo processo de compra, como, por exemplo, para informar sobre os
                    dados de seu pedido, status do pedido, status da entrega, etc. Portanto, recomendamos que você
                    inclua o remetente da nossa VIT como um remetente confiável para evitar que tais mensagens sejam
                    interceptadas pelo Anti-Spam.
                </p>

                <h6>MODIFICAÇÕES DE NOSSA POLÍTICA DE PRIVACIDADE:</h6>

                <p>
                    Buscando a contínua melhoria, poderemos alterar a qualquer momento a Política de Privacidade. No
                    entanto, sempre que isso ocorrer, divulgaremos as alterações em nosso site em lugar visível e de
                    fácil acesso. Ao utilizar os serviços da VIT, você, consumidor, concorda e aceita os termos da
                    Política de Privacidade vigente na data cabendo verificá-la previamente cada vez que visitá-lo.
                </p>

                <h6>Equipe VIT</h6>

            </div>
        </div>
    </div>
</div>
