<footer>
    <div class="container-fluid corFundo pt-5">
        <div class="row justify-content-center d-flex">
            <div class="col-md-2">
                <p class="h5">
                    SOBRE
                </p>
                <p class="h6 textMenuConfig">
                    Quem somos
                </p>

            </div>
            <div class="col-md-2">
                <p class="h5">
                    INSTITUCIONAL
                </p>
                <p class="h6 textMenuConfig">
                    <a class="text-dark text-decoration-none" routerLink='/politica-privacidade'> Políticas de privacidade</a>
                </p>
                <p class="h6 textMenuConfig">
                    Pagamentos
                </p>
                <p class="h6 textMenuConfig">
                    Trocas
                </p>
            </div>
            <div class="col-md-2">
                <p class="h5">
                    CONTATO
                </p>
                <p class="h6 textMenuConfig">
                    WhatsApp &nbsp;
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </p>
                <p class="h6 fs-4 textMenuConfig">
                    (11) 00000-0000
                </p>
                <p class="h6 textMenuConfig">
                    E-mail &nbsp;
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </p>
                <p class="h6 fs-4 textMenuConfig">
                    contato@vit.com
                </p>
            </div>
            <div class="col-md-2">
                <p class="h5">
                    FAÇA PARTE
                </p>
                <p class="h6 fs-4 textMenuConfig">
                    Nos ajude a construir <br>
                    um mundo melhor: <br>
                    Doe ou seja um colaborador!
                </p>
            </div>
            <div class="col-md-2">
                <p class="h5">
                    REDES SOCIAIS
                </p>
                <p class="h5 pl-3">
                    <i class="fa fa-facebook-square pr-4 liConfig6 textMenuConfig" aria-hidden="true"></i>
                    <i class="fa fa-instagram pr-4 liConfig6 textMenuConfig" aria-hidden="true"></i>
                    <i class="fa fa-pinterest-square liConfig6 textMenuConfig" aria-hidden="true"></i>
                </p>
            </div>
        </div>

        <div class="pt-5 pb-5">
            <h5>NOSSOS COLABORADORES:</h5>
            <img class="colaboradoresConfig img-fluid" src="../../assets/institutoSemear.png" alt="institutoSemear">
            <img class="colaboradoresConfig img-fluid ml-5" src="../../assets/medicoSemFronteiras.png"
                alt="medicoSemFronteiras">
        </div>
    </div>
</footer>