<footer>
    <div class="container-fluid corFundo pt-5">
        <div class="row justify-content-center ">
            <div class="col-10 text-center ">
                <ul>
                    <h5 class="fs-4 ">
                        <li class="liConfig">SOBRE</li>
                        <li class="liConfig">INSTITUCIONAL</li>
                        <li class="liConfig">CONTATO</li>
                        <li class="liConfig">FAÇA PARTE</li>
                        <li class="liConfig">REDES SOCIAIS</li>
                    </h5>
                </ul>
            </div>
        </div>

        <div class="row justify-content-start">
            <ul>
                <h6>
                    <li class="liConfig2">Quem somos</li>
                </h6>
            </ul>
            <ul>
                <h6>
                    <li class="liConfig3">Políticas de privacidade</li>
                    <li class="liConfig3">Pagamentos</li>
                    <li class="liConfig3">Trocas</li>
                </h6>
            </ul>
            <ul>
                <h6>
                    <li class="liConfig4">WhatsApp &nbsp;
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </li>
                    <li class="liConfig4">(11) 00000-0000</li>
                    <br>
                    <li class="liConfig4">E-mail &nbsp;
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </li>
                    <li class="liConfig4">contato@vit.com</li>
                </h6>
            </ul>
            <ul>
                <h6>
                    <li class="liConfig5">
                        Nos ajude a construir <br>
                        um mundo melhor: <br>
                        Doe ou seja um colaborador!
                    </li>
                </h6>
            </ul>
            <ul>
                <h6 class="liConfig6">
                    <li class="liConfig6">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </li>
                    <li class="liConfig6">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>
                    <li class="liConfig6">
                        <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                    </li>
                </h6>
            </ul>
        </div>

        <div class="col p-0">
            <h5>NOSSOS COLABORADORES:</h5>
            <img class="colaboradoresConfig mt-3 " src="https://i.ibb.co/d0TZJ58/instituto-Semear.png"
                alt="instituto-Semear">
        </div>


    </div>
</footer>