<app-menu></app-menu>

<div class="container col-md-6 mb-4 pt-3 w-cadastro pr-0 pl-0 mt-4">
    <div class="row d-flex justify-content-center">
    <div class="col-md-11">
    <h4 class="text-center">CADASTRO DE PRODUTO</h4>

     <div class="form-group">
        <input [(ngModel)]='produto.nomeProduto' type="text" class="form-control" id='nome' placeholder="nome">
        <input [(ngModel)]='produto.descricaoProduto' type="text" class="form-control" id='descricao'
            placeholder="descricao">
        <input [(ngModel)]='produto.precoProduto' type="number" class="form-control" id='preco' placeholder="preco">
        <input [(ngModel)]='produto.qtProduto' type="number" class="form-control" id='quantidade'
            placeholder="quantidade">
        <input [(ngModel)]='produto.imgProduto' type="text" class="form-control" id='imagem' placeholder="imagem">
    </div>
    <div class="btn btn-danger" (click)="cadastrar()">CADASTRAR</div> 
        
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h2>Todas as categorias</h2>
            </div>
        </div>
    
        <div class="row mt-3 mb-5">
            <div class="col-md-6">
    
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col" class="text-right">Modifications</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let produto of listaProdutos'>
                            <th>{{produto.id}}</th> 
                            <td>{{produto.nomeProduto}}</td>
                            <td>{{produto.descricaoProduto}}</td>
                            <td>{{produto.precoProduto}}</td>
                            <td>{{produto.qtProduto}}</td>
                            <td>{{produto.imgProduto}}</td>
                            <td class="d-flex justify-content-end">
                                <button class="btn btn-info mr-3" [routerLink]="['/produtos-edit', produto.id]">Editar</button> 
                                <button class="btn btn-danger" [routerLink]="['/produtos-delete', produto.id]">Deletar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
 </div>

</div>

<app-footer></app-footer>
