<app-menu></app-menu>

<div class="container col-md-6 mb-4 pt-3 w-cadastro pr-0 pl-0 mt-4">
    <div class="row d-flex justify-content-center">
    <div class="col-md-11">
    <h4 class="text-center">CADASTRO DE PRODUTO</h4>

     <div class="form-group">
        <input [(ngModel)]='produto.nomeProduto' type="text" class="form-control" id='nome' placeholder="nome">
        <input [(ngModel)]='produto.descricaoProduto' type="text" class="form-control" id='descricao'
            placeholder="descricao">
        <input [(ngModel)]='produto.precoProduto' type="number" class="form-control" id='preco' placeholder="preco">
        <input [(ngModel)]='produto.qtProduto' type="number" class="form-control" id='quantidade'
            placeholder="quantidade">
        <input [(ngModel)]='produto.imgProduto' type="text" class="form-control" id='imagem' placeholder="imagem">
    </div>
    <div class="btn btn-danger" (click)="cadastrar()">CADASTRAR</div> -->
        
    <!-- <div class="form-group row">
        <label for="descricaoProduto" class="col-sm-2 col-form-label">DESCRIÇÃO:</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]='produto.descricaoProduto' class="form-control" id="descricaoProduto"
                placeholder="Insira a descrição do produto" rows="3"></textarea>
        </div>
    </div> -->

    <!-- <div class="form-group row">
        <label for="precoProduto" class="col-sm-2 col-form-label">PREÇO:</label>
        <div class="col-sm-10">
            <input [(ngModel)]='produto.precoProduto' type="number" class="form-control" id="precoProduto" placeholder="Insira o valor do produto" />
        </div>
    </div> -->

    <!-- <div class="form-group row">
        <label for="imgProduto" class="col-sm-2 col-form-label">IMAGEM:</label>
        <div class="col-sm-10">
            <input [(ngModel)]='produto.imgProduto' type="text" class="form-control" id="imgProduto" placeholder="Insira o link da imagem" />
        </div>
    </div> -->

    <!-- <div class="form-group row">
        <label for="qtProduto" class="col-sm-2 col-form-label">QUANTIDADE:</label>
        <div class="col-sm-10">
            <input [(ngModel)]='produto.qtProduto' type="number" class="form-control" id="qtProduto"
                placeholder="Insira a quantidade de estoque" />
        </div>
    </div> -->

    <!-- <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">CATEGORIA:</label>
        <div class="col-sm-10">

            <select class="form-control">
                <option>Selecione uma categoria</option>
                <option><a routerLink="/app-cadastro-produto">Criar nova categoria</a></option>
            </select>

        </div>
    </div> -->

<!-- <div class="row d-flex justify-content-center mb-4">
    <div class="btn text-weight-bold btn-color text-white" (click)='cadastrar()'>CADASTRAR</div>
</div> -->



</div>
 </div>

</div>

<app-footer></app-footer>