<!-- Componente de Menu -->
<app-menu></app-menu>
<!--/Componente de Menu -->

<div class="container">

    <div class="row">

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 img-fluid" src="https://wallpapercave.com/wp/wp4470724.jpg"
                        alt="Primeiro Slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid" src="https://wallpapercave.com/wp/wp4470725.jpg"
                        alt="Segundo Slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid" src="https://wallpapercave.com/wp/wp4470724.jpg"
                        alt="Terceiro Slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>

    </div>



</div>

<div class="container d-flex justify-content-center mt-5 mb-5">
    <hr class="linha">
</div>


<div class="container">
    <img class="img-fluid banner w-100" src="https://wallpapercave.com/wp/wp4470725.jpg"
        alt="Banner sobre o VIT Menstrual">
</div>


<div class="container mt-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-2">
            <hr class="linha-roupa">
        </div>


        <div class="col-md-5 d-flex justify-content-center">
            <h2>Toda peça conta uma história</h2>
        </div>


        <div class="col-md-2">
            <hr class="linha-roupa">
        </div>
    </div>
</div>

<div class="container">

    <div id="carouselExampleControls" class="carousel slide carusel-left" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row align-items-center">
                    <div class="col-md-7 py-2">
                        <img class="d-block img-fluid" src="https://miro.medium.com/max/640/0*i1v1In2Tn4Stnwnl.jpg" alt="First slide">
                    </div>
                    <div class="col-md py-2">
                        <p> Text text text here. Text here, here, here, here is the text. Text here, here, here, here is the text. </p>
                        <button class="btn btn-primary">More here</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row align-items-center">
                    <div class="col-md-7 py-2">
                        <img class="d-block img-fluid" src="https://miro.medium.com/max/640/0*i1v1In2Tn4Stnwnl.jpg" alt="First slide">
                    </div>
                    <div class="col-md py-2">
                        <p> Text text text here. Text here, here, here, here is the text. Text here, here, here, here is the text. </p>
                        <button class="btn btn-primary">More here</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="row align-items-center">
                    <div class="col-md-7 py-2">
                        <img class="d-block img-fluid" src="https://miro.medium.com/max/640/0*i1v1In2Tn4Stnwnl.jpg" alt="First slide">
                    </div>
                    <div class="col-md py-2">
                        <p> Text text text here. Text here, here, here, here is the text. Text here, here, here, here is the text. </p>
                        <button class="btn btn-primary">More here</button>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
</div>



<div class="jumbotron jumbotron-fluid dist bg-success">
    <div class="container">
      <h1 class="display-4">Banner</h1>
      <p class="lead">BANNER SOBRE ALGUM PRODUTO OU ALGUMA EXPLICAÇÃO
        BREVE SOBRE ALGO.</p>
    </div>
  </div>







    <!-- Componente do Footer -->
    <app-footer></app-footer>
    <!--/Componente do Footer -->