<!--Inicio primeira linha menu-->
<div class="conteiner-fluid">
    <div class="container-fluid"></div>
    <div class="conteiner-fluid bg-menu row ">

        <p class="mt-2"></p>
    </div>
</div>
<!--Fim primeira linha menu-->

<!--Inicio conteudo Entre as linhas (menu)-->
<div class="container-fluid d-flex justify-content-center">

    <div class="row justify-content-center align-items-center">
        <!--Inicio Imagem home-->

        <div class="row align-items-center">
            <!--Inicio NavBar-->
            <nav class="navbar navbar-expand-lg navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#">
                            <img class="img-home" src="../../assets/imagens/home.png" alt="">
                        </a>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Propósito</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produtos
                  </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Vit Menstrual</a>
                            <a class="dropdown-item" href="#">Camisetas</a>
                            <a class="dropdown-item" href="#">Produtos Diversos</a>
                            <a class="dropdown-item" href="#">ADM</a>
                        </div>
                    </li>

                </ul>
                <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                    <span>
                        <img class="img-home" src="../../assets/imagens/menu.png.crdownload" alt="">
                    </span>
                  </button>
                <a>
                    <img class="" src="../../assets/imagens/logoVIT.png" alt="">
                </a>


                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-dark">Quero Apoiar  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" class="img-user" src="../../assets/imagens/user.webp" alt="">
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="#">
                                <img class="img-compras" src="../../assets/imagens/carrinho.png" alt="">
                            </a>
                        </li>

                    </ul>

                </div>
            </nav>
            <!--Fim NavBar-->
        </div>
        <!--Fim Imagem home-->


    </div>
</div>
<!--Fim conteudo Entre as linhas (menu)-->



<!--Inicio Segunda linha menu-->
<div class="conteiner-fluid">
    <div class="container-fluid"></div>
    <div class="conteiner-fluid bg-menu row ">

        <p class="mt-2"></p>
    </div>
</div>
<!--Fim Segunda linha menu-->

<!--Inicio modal acoplado ao logo de usuário-->
<div class="container-fluid d-flex justify-content-center"> </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-4">
            <a href="https://www.site24x7.com/pt/tools/seletor-de-codigo-cor.html">
                <button type="button" class="close x" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button></a>
            <div class="row modal-header border-0 mb-2">

                <h5 class=" row modal-title" id="exampleModalLabel">

                    <img class="align-content-center" src="../../assets/imagens/logoVIT.png" alt="">

                </h5>

            </div>

            <div class="modal-body">
                <h3 class="mb-4 title corEntrar">Entrar</h3>
                <div class="form-group"> <input type="text" id="name" class="form-control p-0" required style="box-shadow: none;border-radius:0px"> <label class="form-control-placeholder p-0" for="name lbl">Usuário</label> </div>

                <div class="form-group"> <input type="password" id="pass" class="form-control p-0" required style="box-shadow: none;border-radius:0px"> <label class="form-control-placeholder p-0" for="password">Senha</label> </div> <label class="tc">By signing up I accept the <strong>Terms & Conditions</strong> of VIT | Saúde & Educação</label>
            </div>
            <div class="modal-footer border-0 mb-4">
                <button type="button" class="row btn signup col-6 col-md-6" data-dismiss="modal">ENTRAR</button>

                <button type="button" class="btn signup col-6 col-md-6" data-dismiss="modal">CADASTRE-SE</button>
            </div>




        </div>
    </div>
</div>
<!--Fim modal-->