@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif
}

body {
    display: grid;
    background: #eee
}

.card {
    border-radius: 20px;
    background: #97958f;
    box-shadow: 10px 10px 40px #00b7ff;
    border: none;

}

.card img {
    border-radius: 40%;
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #1ebb2c, #10cfb6);
}

.descricao {
    font-style: italic;
    color: white;
    font-size: 15px;
  
    }



.fa-facebook {
    color: #3b5998
}

.fa-fa-facebook {
    color: #0077b5;
    font-size: 12pt;
}

.fa-google {
    color: #dc4e41
}

.fa-youtube {
    color: #cd201f
}

.fa-twitter {
    color: #55acee
}
.erick{
    height: 560px;
}
.isabel{
    height: 540px;
}
.botoesIsabel{
    margin-top: 160px;
}
.botoes{
    margin-top: 70px;
}
.botoesAndre{
    margin-top: 95px;
}


/*
------------------------------------------------------------------------------------------------


*/

.andre {
    
    font-size: 16px;
 
}

.tamanhoImagem {
    width: 2rem !important;
    margin-left: 4rem;
    height: 2.8rem !important;
}

.h-100 {
    height: 100px;
}

.w-50 {
    width: 10px !important;
}

.textoProposito {
    margin-top: 50px !important;
}

.linha {
    margin-top: 65px;
    color: rgb(65, 243, 11);
}

.devs {
    margin-top: 50px;
    font-weight: bold;
    font-size: 40px;
}

.devImage {
    height: 500px;
}

.proposito {
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}

.trabalhos {
    font-size: 30px;
    font-weight: bold;
}

.fechamentoTag {
    width: 50px;
    height: 50px;
}

.developer-color {
    color: rgb(151, 224, 40);
}

.icones-andre{

margin-top: 94px;

}

.icones-isabel{

margin-top: 157px;

}