<div class="d-flex justify-content-center mb-5">
    <h4 class="display-6  text-dark">
        Qual o nosso propósito?</h4>
</div>
<div class=" row d-flex justify-content-center">
    <div class="col-md-10 ">

        <div class="container-fluid ">
            <div class="row d-flex justify-content-center ">
                <div class="col-md-5 d-flex embed-responsive embed-responsive-21by9">
                    <img class="devImage w-100 img-fluid" src="https://i.imgur.com/tbBw5re.png" alt="Devs">
                </div>

                <div class="col-md-5 d-flex ml-4 ">

                    <p class="lead text-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nulla illo minima architecto aspernatur officia, neque tenetur pariatur dolor assumenda est voluptate odit sequi vero esse, libero veritatis laudantium! Vel! Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Temporibus, fugiat numquam odio perferendis assumenda, sequi quod illum quo eaque blanditiis autem totam necessitatibus quasi dicta eveniet amet vel quisquam Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Deleniti repudiandae, officia ipsam quod eius corporis voluptatibus fugit eos autem, vero reiciendis expedita? Et a reprehenderit harum eius ut totam reiciendis!</p>

                </div>
            </div>
        </div>
    </div>

</div>



<div>
    <h1>Conheça Nossos Desenvolvedores!</h1>


</div>
<div class="container  d-flex justify-content-center">
    <div class="row  d-flex justify-content-center ">

        <!------------------------------------------------------------------------------------------------------------->
        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5 mb-5 ">
                <div class="text-center"> <img src="https://i.imgur.com/stD0Q19.jpg" width="100" class="rounded-circle">
                    <h3 class="mt-2">Erick Costa</h3> <span class="mt-1 clearfix">Android Developer</span> <small class="mt-4">I am an android developer working at google Inc at california,USA</small>
                    <div class="social-buttons mt-5">
                        <button class="neo-button"> <i class="fab fa-facebook">          
                             </i>          </button>

                        <button class="neo-button"><i class="fa fa-linkedin fa-1x">

                        </i></button>

                        <li>
                            <a href="https://www.instagram.com/erick.costa17/" target="_blank" class="icoInstagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>


                    </div>




                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------->

        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5">
                <div class="text-center"> <img src="https://i.imgur.com/xELPaag.jpg" width="100" class="rounded-circle">
                    <h3 class="mt-2">Simona Disa</h3> <span class="mt-1 clearfix">Graphics Designer</span> <small class="mt-4">I am an Graphics Designer working at google Inc at california,USA</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------->

        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5">
                <div class="text-center"> <img src="https://i.imgur.com/xELPaag.jpg" width="100" class="rounded-circle">
                    <h3 class="mt-2">Simona Disa</h3> <span class="mt-1 clearfix">Graphics Designer</span> <small class="mt-4">I am an Graphics Designer working at google Inc at california,USA</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------->

        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5">
                <div class="text-center"> <img src="https://i.imgur.com/nAcoHRf.jpg" width="100" class="rounded-circle">
                    <h3 class="mt-2">John Smith</h3> <span class="mt-1 clearfix">Java Architect</span> <small class="mt-4">I am an Java Architect working at google Inc at california,USA</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> </div>
                </div>
            </div>
        </div>

        <!------------------------------------------------------------------------------------------------------------->


        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5">
                <div class="text-center"> <img src="https://i.imgur.com/nAcoHRf.jpg" width="100" class="rounded-circle">
                    <h3 class="mt-2">John Smith</h3> <span class="mt-1 clearfix">Java Architect</span> <small class="mt-4">I am an Java Architect working at google Inc at california,USA</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> </div>
                </div>
            </div>
        </div>

        <!------------------------------------------------------------------------------------------------------------->
        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5">
                <div class="text-center"> <img src="https://i.imgur.com/nAcoHRf.jpg" width="100" class="rounded-circle">
                    <h3 class="mt-2">John Smith</h3> <span class="mt-1 clearfix">Java Architect</span> <small class="mt-4">I am an Java Architect working at google Inc at california,USA</small>
                    <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------->






    </div>
</div>