<app-menu></app-menu>
<div class="container">

    <div class="row ">    
        <div class="col-md-12 mt-5">
            <h5 class="text-center">POLÍTICAS DE TROCAS E DEVOLUÇÕES</h5>

        </div>
    </div>
    <div class="container col-md-8 mb-5 bg-light">
        <div class="row">
    <div class="col-md-12 mt-3 mb-3">

        <p>Antes de qualquer procedimento, a troca ou a devolução de qualquer produto deverá ser informada ao nosso
            atendimento pelo Whatsapp (11) 00000-0000.

            DICAS IMPORTANTES:
            - O cliente deve ficar atento à descrição e ficha técnica do produto;
            - A TAG do produto não deve ser retirada, ou danificada.
            - É importante guardar a Nota Fiscal recebida no momento da entrega dos itens comprados e os e-mails
            transacionais da compra como garantia;
            - A embalagem original do produto comprado, assim como manuais, itens e acessórios que o acompanham devem
            ser conservados em boas condições. Em caso de troca ou devolução, estes itens serão avaliados;
            - Quem for receber a compra deve sempre fazer a conferência dos itens do pedido e da nota fiscal no momento
            da entrega e jamais aceitar um produto com o lacre rompido; Caso haja algum problema (lacre rompido, avaria,
            ausência de algum item ou divergência entre nota e conteúdo), nós aconselhamos que o cliente recuse a
            entrega e não assine o canhoto. Ao invés disto, deve-se informar nos versos da nota fiscal e do comprovante
            de entrega o motivo da recusa e entrar em contato imediatamente com o nosso atendimento pelo Whatsapp (11)
            00000-0000.
            - É necessário haver alguém no local da entrega para o recebimento. Caso o próprio comprador não tenha
            disponibilidade, ele deve informar à pessoa responsável como proceder. A entrega poderá ser feita a
            terceiros, como porteiros ou parentes. Após a conferência positiva, será necessária a assinatura por extenso
            do responsável pelo recebimento e número de RG no canhoto da nota.
            - Nós, da VIT, nos responsabilizamos inteiramente pela qualidade dos produtos durante todo o trajeto,
            enquanto transportados até o seu destino. Uma vez protocolada a entrega, a responsabilidade pela integridade
            do produto passa a ser imediatamente da pessoa que o recebeu. O mesmo vale em caso de presentes entregues em
            endereços de terceiros.

            DEVOLUÇÃO POR ARREPENDIMENTO
            Para a realização de uma devolução em caso de arrependimento ou desistência, oferecemos o prazo de 07 (sete)
            dias corridos após o recebimento do produto no local de entrega.

            O produto devolvido deve estar em sua embalagem original, em perfeito estado de conservação e ser
            apresentado junto ao cupom original ou 1ª via da nota fiscal. Também é NECESSÁRIO não ter tirada ou violada
            a TAG. Reservamos o direito de recusar a devolução e retornar o produto para o cliente, caso algum dos itens
            não esteja dentro dos padrões informados. Neste caso, o frete de retorno será por conta do cliente.

            Caso o produto esteja em perfeito estado, o valor será integralmente reembolsado, após o recebimento e
            análise do produto em nosso Centro de Distribuição.
        </p>

        <h6>PRODUTO COM DEFEITO</h6>
        <p>
            Oferecemos aos nossos clientes até 7 dias corridos, após o recebimento do produto, para realizar a troca de
            produtos com defeito, seguindo as normas do Código de Defesa do Consumidor, mediante apresentação do cupom
            original ou da 1ª via da nota fiscal, e estando o produto na embalagem original e sem indício de uso.

            O produto devolvido passará por uma análise e, se constatado defeito de fabricação, um novo produto, igual
            ou similar ao adquirido, será enviado ao cliente. Também é NECESSÁRIO não ter tirada ou violada a TAG.

            Reservamos o direito de recusar a devolução e retornar o produto para o cliente, caso algum dos itens não
            esteja dentro dos padrões informados. Neste caso, o frete de retorno será por conta do cliente.
        </p>

        <h6>TROCA POR TAMANHO OU COR DO MESMO PRODUTO</h6>
        <p>
            Para realizar uma troca de um mesmo produto por outra cor ou tamanho, entre em contato com o nosso
            atendimento pelo (11) 00000-0000 em até 7 dias corridos do recebimento do produto. O prazo para envio do
            novo produto é de até 7 dias úteis após o recebimento e análise do item em nosso departamento de logística,
            mediante recebimento do cupom original ou da 1ª via da nota fiscal, desde que estejam o produto e a
            embalagem em perfeito estado. Também é NECESSÁRIO não ter tirada ou violada a TAG.

            Em caso de primeira troca, os envios serão por nossa conta. Caso o cliente opte por realizar outras trocas
            de um mesmo pedido, os valores de envio/frete serão cobrados.
        </p>

        <h6>INFORMAÇÕES GERAIS:</h6>
        <p>
            - O prazo para solicitação de troca é de 12 (doze) dias corridos, a partir da data de recebimento do produto
            no local de entrega.
            - O prazo para solicitação de devolução/cancelamento é de 07 (sete) dias corridos, a partir da data de
            recebimento do produto no local de entrega.
            - Toda e qualquer solicitação de troca ou devolução/cancelamento das compras realizadas online devem ser
            feitas através do nosso Serviço de Atendimento ao Cliente. Entre em contato e solicite este procedimento,
            informando o número do pedido e/ou número de CPF do comprador; produtos envolvidos.
            - Em caso de troca, se por ventura não houver o produto desejado disponível no momento da solicitação,
            realizaremos o cancelamento do pedido, com o reembolso/restituição do pagamento.
            - Se Identificada qualquer divergência, indícios de mau uso, má fé, ausência de nota fiscal de venda(s),
            acessórios, manuais ou qualquer outro item que acompanha a embalagem original, nos isentamos da
            responsabilidade de atender a solicitação do cliente, devolvendo o produto recolhido ao seu endereço de
            entrega sem restituição do valor pago, e todo o processo de devolução será cancelado.
        </p>

        <h6>Equipe VIT</h6>

    </div>
    </div>
</div>

</div>
<app-footer></app-footer>