<app-menu></app-menu>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body background">
        <h5 class="card-title">Toda ajuda é válida!</h5>
        <p class="card-text">
          Ajudar é plantar o bem para, mais tarde, colher um mundo melhor
        </p>
        <p>Cadastre-se e faça parte da família VIT</p>
        <p>OU</p>
        <P>Transferência bancária:</P>

        <div class="container">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-left" src="../../assets/bb.png" alt="BB" />
              <div class="card-body">
                <p class="card-text">
                    Banco: 001 -
                    Banco do Brasil
                    Agência: 0000-0
                    Conta: 000.000-0
                    VIT | SAÚDE E
                    EDUCAÇÃO
                    CNPJ:
                    00.000.000/0000
                    -00
                </p>
              </div>
            </div>

            <div class="card">
              <img class="card-img-right" src="../../assets/nubank.png" alt="Nubank" />
              <div class="card-body">
                <p class="card-text">
                    Banco: 260 - NU
                    Pagamentos
                    Agência: 0001
                    Conta: 000.000-0
                    VIT | SAÚDE E
                    EDUCAÇÃO
                    CNPJ: 00.000.000/0000-00
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body background">
        <h5 class="card-title">Seja um colaborador!</h5>
        <p class="card-text">
          Ser um colaborador é ajudar a construir uma sociedade ideal
        </p>

        <form>
            <div class="form-group">
              <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Nome da empresa">
            </div>

            <div class="form-group">
              <input type="password" class="form-control" id="razao-social" placeholder="Razão Social">
            </div>

            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="E-mail">
              </div>

              <div class="form-group row">
                <div class="col-sm-10">
                    <textarea class="form-control" id="colFormLabel"
                        placeholder="Descreva o porquê gostaria de colaborar com a VIT" rows="3"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">COLABORAR</button>
               
          </form>

      </div>
    </div>
  </div>
  </div>
 
  

  <app-footer></app-footer>

