<!-- <app-menu></app-menu>

<div class="form-group">
    <input [(ngModel)]='produto.nomeProduto' type="text" class="form-control" id='nome' placeholder="nome">
    <input [(ngModel)]='produto.descricaoProduto' type="text" class="form-control" id='descricao'
        placeholder="descricao">
    <input [(ngModel)]='produto.precoProduto' type="number" class="form-control" id='preco' placeholder="preco">
    <input [(ngModel)]='produto.qtProduto' type="number" class="form-control" id='quantidade'
        placeholder="quantidade">
    <input [(ngModel)]='produto.imgProduto' type="text" class="form-control" id='imagem' placeholder="imagem">
</div>
<div class="btn btn-danger" (click)='cadastrar()' >CADASTRAR</div>



<div class="container pt-5 pb-5">
    <img class="img-fluid" src="https://i.imgur.com/7CeKNwP.png" width="1200rem">
</div>

<div class="container px-5 bg-green pt-5">
    <div class="row align-items-start justify-content-center">
        <div class="col-md-3 mr-5">
            <div class="row border d-flex mb-3 justify-content-center bg-light" *ngFor='let produto of listaProdutos'>
                <img class="img-fluid zoom" src="{{produto.imgProduto}}">
            </div>
            <p class="h5 text-center">{{produto.descricaoProduto}}</p>
            <p class="h3 text-center">{{produto.precoProduto}}</p>
            <div class="row justify-content-center">
                <a routerLink="/index" class="btn btn-dark font-weight-bold pr-5 pl-5 mb-5 mt-2">COMPRAR</a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer> -->